page-home {
  .aaaa {
    border: 1px solid black;
  }

  .bbbb {
    border: 1px solid green;
  }

  #parg {
    border: 1px solid red;
  }

  .myButtonStyle {
    color: red;
    background-color: black;
  }
}
