<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-label></ion-label>
  <ion-list>

    <ion-item>
      <ion-label floating>Mobile Number</ion-label>
      <ion-input [(ngModel)]="username" type="tel" [formControl]="loginForm.controls['username']"></ion-input>
    </ion-item>
    <ion-label *ngIf="!loginForm.controls['username'].valid  &&  loginForm.controls['username'].touched">
      Email is required
    </ion-label>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="password" type="password" [formControl]="loginForm.controls['password']"></ion-input>
    </ion-item>
    <ion-label *ngIf="!loginForm.controls['password'].valid  &&  loginForm.controls['password'].touched">
      password is required 
    </ion-label>
    

  </ion-list>

  <button [disabled]="!loginForm.valid" ion-button block (click)="Login()"> Login </button>
</ion-content>
