page-home {
  .aaaa {
    border: 1px solid black;
  }

  .bbbb {
    border: 1px solid green;
  }

  #parg {
    border: 1px solid red;
  }

  .myButtonStyle {
    color: red; 
    background-color: black;
  }
  // p{
  //   background-color: red;
  // }

  div.myDiv > p {
    background-color: yellow !important;
  }

  .active{
    background-color: red;
    font-size: 20px;
  }
  .inactive{
    background-color: white;
    font-size: 12px;
  }
}
